
.dashWrapperB {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.dashModal:first-child {
	padding-left: 0;
}
.dashModal {
	width: 100%;
	padding: 20px;
	float: left;
	padding-bottom: 0;
	padding-right: 0;

}
.dashModal.fifty {
	width: 50%;
}
.dashModal.third {
	width: 33.3333%;
}
.dashModal.twothird {
	width: 66.66666%;
} 
.dashModal .content {
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	border:1px solid rgb(218, 225, 233);
	background-color: white;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
}
.cHeader .title {
	color:rgb(6, 103, 208);
	letter-spacing: 0.4px;
	background-color: white;
	padding: 20px;
	font-size: 16px;
	border-bottom: 1px solid rgb(218, 225, 233);
	padding-bottom: 18px;
}



.tSWrap {
	padding: 15px;
}

.upperTSDash {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.upperTSDash ul {
	list-style: none;
	margin-left: -40px;
	margin-bottom: 0;
}

.upperTSDash ul li {
	display: inline-block;
	padding-right: 30px;
}

.upperTSDash ul li .title {
	font-weight: 4 00;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: rgb(6, 103, 208);
}
.upperTSDash ul li .subtitle {
	font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-top: 2px;
    color: black;
}

.upperTSDash ul .pull-left {
	text-align: left;
	padding-right: 0;
}

.upperTSDash ul .pull-right {
	text-align: right;
	padding-right: 0;
}

.milestoneBarWrap {
	height: 110px;
	padding: 25px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 27px;
}

.addressTD {
	font-size: 10px !important;
}

.milestonebar {
	background-color: rgba(125, 149, 182,0.1);
	width: 100%;
	border-radius: 4px;
	height: 50px;
	overflow: hidden;
}
.activeBar {
	width: 0%;
	background-color: rgb(6, 103, 208);
	color: white;
	height:50px;
	text-align: center;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: 18px;
    padding-top: 12px;
    font-weight: bold;
    transition: 0.3s all;

}	

.transTable {
	overflow: hidden;
}
.transTable table {
	border-collapse:collapse;
	width: 100%;
}
.transTable table thead tr {
	border-bottom: 1px solid rgb(218, 225, 233);
}
.transTable table thead tr th:first-child {
	padding-left: 20px;
	width: 110px;
}
.transTable table thead tr th {
	font-weight: 800;
    color: #333;
    font-size: 13px;
    padding: 10px;
    padding-left: 0;
    border-bottom: 1px solid #e5ecf4;	
}
.transTable table thead tr th:nth-of-type(2) {
	text-align: left;
	padding-right: 0;
	width:50px;
}
.transTable table thead tr th:nth-of-type(3) {
	width: 10px;
}
.transTable table thead tr th:nth-of-type(4) {
	text-align: left;
}




.transTable table tbody tr td:nth-of-type(1) {
	padding-left:20px;
}


.transTable table tbody tr td:nth-of-type(2) {
	text-align: left;

}
.transTable table tbody tr td:nth-of-type(3) {
	width: 20px;
	text-align: center;
}
.transTable table tbody tr td:nth-of-type(4) {
	text-align: left;
	padding-left: 0;
	color: black;
}
.transTable table thead tr th:last-child {
	text-align: right;
	padding-right: 20px;
}
.transTable table tbody tr td:last-child {
	text-align: center;
	padding-right:0px;
	width: 55px;
	cursor: pointer;
}


.transTable table thead tr th:nth-of-type(6) {
	text-align: right;
	padding-right: 0;
}

.transTable table tbody tr td:nth-of-type(6) {
	text-align: right;
	padding-right: 0px;
}


.transTable table tbody tr td {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 12px;
	color: gray;
	letter-spacing: 0.3px;
	
}
.transTable table tbody tr {
	border-bottom: 1px solid #e5ecf4;
}
.transTable table tbody tr:last-child {
	border-bottom: 0;
}
.arrowTransTable {
	fill: #6100ff;
}
.transTableActions a{
	cursor: pointer;
}
.transTableActions a span{
	font-size: 10px;
}
.transTableActions a:hover{
	text-decoration: none;
}
.transTableActions .cancelBtn {
	padding-left: 10px;
}
.transTableActions .cancelBtn img {
	width: 13px;
}


.timerTD {
	letter-spacing: 1px !important;
}






.portfolioSummaryWrap {
	width: 200px;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
}
.pShoriz .protfoilioWrapper {
	float: left;
	width: 40%;
}




.pShoriz .portfolioSummaryWrap {
	padding-top: 50px;
	width: 200px;
	margin: 0 auto;
	position: relative;
}

.pieID {
  display: inline-block;
  width: 100%;
}

.pie {
  height: 200px;
  width: 200px;
  position: relative;
}

.pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  top: 26px;
  left: 26px;
}

.pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}

.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}




.pShoriz .legend {
	float: left;
	width: 60%;
	padding-top: 0px;

}
.pShoriz .legend li {
	border-top: 1px solid rgba(0,0,0,0.08);
	padding-top:42px;
	padding-bottom:42px;
}

.legend li:nth-of-type(1) {
	border-top: 0;
}
.legend li:nth-of-type(2) {
	border-top: 0;
}
.legend li:nth-of-type(3) {
	border-top: 0;
}

.legend {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  font-size: 13px;
  padding-top: 70px;
  text-align: center;
}

.dayTimerLeft {
	background-color: #1992fa;
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;

}
.dayTimerLeft ul {
	margin-bottom: 0;
}
.dayTimerLeft ul li {
	color: white;
	font-size: 20px;
	font-weight: 400;
	width: 25%;
	padding-bottom: 0px;
	padding-top: 20px;
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
	float: left;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-right: 1px solid white;
}	
.dayTimerLeft ul li span {
}
.dayTimerLeft ul li:last-child {
	width: 75% !important;
}

.react-cntdwn-hour , .react-cntdwn-minute, .react-cntdwn-second {
	width: 33.333%;
	float: left;
	font-size: 18px !important;
}
.react-cntdwn-second {
	border-right: 0;
}








.legend li {
	width: 33.3333%;
	display: inline-block;
	padding-top: 35px;
	padding-bottom: 35px;
	border-right: 1px solid rgba(0,0,0,0.08);
	border-top: 1px solid rgba(0,0,0,0.08);
}

.legend li:nth-of-type(3) {
	border-right: 0;
}
.legend li:nth-of-type(4) {
	border-bottom: 0;
}
.legend li:nth-of-type(5) {
	border-bottom: 0;
}
.legend li:nth-of-type(6) {
	border-bottom: 0;
	border-right: 0;
}
.circleL {
	width:25px;
	height: 25px;
	border-radius: 30px;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	background-color: black;
	padding: 0;
	color: white;
	padding-top: 3px;
}
.circleL img {
	width: 16px;
	margin-top: -2px;
}
.ethereumLogo {
	width: 23px !important;
}

.bitcoincash {
	transform: rotate(-30deg);
}




.legend li .title {
	font-weight:400;
	font-size: 12px;
	text-transform: uppercase;
	color: gray;
	letter-spacing:1px;
	padding-top:5px;
}


.dataPointH {
	display: none;
}
.legend li .dataPoint {
	font-size: 13px;
	font-weight:800;
	letter-spacing: 1px;
	padding-top: 10px;
}


.activeBarSend  b{

	color: rgb(128, 0, 255);
}


.sentAmount b {
	color: rgb(254, 84, 97);
}

.errorTrans {
	font-weight: bold;
	color: rgb(254, 84, 97);
}








.porfolioTable {
/*	height: 340px;
	overflow-y: scroll;*/
	position: relative;
}
.porfolioTable ul {
	list-style: none;
	margin-left: -40px;
}

.porfolioTable ul li {
	padding-left: 25px;
	padding-right: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	display: block;
	height: 75px;
}
.porfolioTable ul li .logoP {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	margin-top: 17px;
	text-align: center;
	padding-top: 7px;
	z-index: -1;
}
.logoP img {
	width: 40px;
}



.logoP.bitcoin img {
	width: 23px;
}


/* .logoP.larecoin {
	background-color: rgb(6, 103, 208);
} */
.logoP.bitcoin {
	background-color:orange;
}

.logoP.bitcoincash {
	background-color: rgb(141, 196, 81);
}
.logoP.bitcoincash img {
	width: 23px;
	transform: rotate(-20deg);
}



.logoP.ethereum {
	background-color: rgb(111, 124, 186);
	padding-top: 3px !important;
}
.logoP.ethereum img {
	width: 35px;
}
.logoP.litecoin {
	background-color: rgb(181, 181, 181);
}
.logoP.litecoin img {
	width: 21px;
	padding-top: 0px !important;
}
.logoP.ripple {
	background-color: #35a0e0;
}
.logoP.ripple img {
	width: 21px;
	padding-top: 0px !important;
	text-align: left !important;
	margin-left: -3px;

}



.porfolioDetails {
	padding-left: 15px;
	float: left;
	padding-top: 15px;
}
.porfolioDetails span {
	display: block;
	font-size: 17px;
	color: rgb(78, 92, 110);
    letter-spacing: 0.5px;
}
.porfolioDetails span:last-child {
	font-size: 12px;
}
.porfolioTable ul li:last-child {
	border-bottom: 0;
}
/* .larecoinColor {
	background-color: rgb(6, 103, 208);
} */


.bgCoverDiv {
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	text-align: center;

}
.bgCoverDiv p {
    position: absolute;
    top:30%;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 15px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(6, 103, 208);
}


.openTrans {
	color: rgb(77, 138, 255) !important;
}
.errorAmount {
	color: rgb(254, 84, 97) !important;
}
.errorTrans {
	color: rgb(254, 84, 97) !important;
}
.completeTrans {
	color: rgb(20, 191, 6) !important;
}
.totalAmountPie {
	position: absolute;
	top: 53%;
	left: 0;
	text-align: center;
	right: 0;
	z-index: 123123123;
	bottom: 0;
	font-size:16px;
	font-weight: bold;
	margin: 0 auto;
}
.buyNowBttn {
    background-color: rgb(6, 103, 208);
    display: inline-block;
    color: white !important;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
    margin-top: 23px;
}
.buyNowBttn.deposit {
	border:1px solid #00C57F;
	color: #00C57F !important;
	background-color: white;
	margin-right: 5px;
}

.buyNowBttn.withdraw {
	border:1px solid red;
	color: red !important;
	background-color: white;
	margin-right: 5px;
}

.buyNowBttn.tradeBttn {
	border:1px solid rgb(6, 103, 208);
	color: rgb(6, 103, 208) !important;
	background-color: white;
	text-decoration: none !important;
}









.emptyTransactions .title {
	text-align: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-top: 70px;
    padding-bottom: 70px;
}
.emptyTransactions .descr {
	text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: gray;
    letter-spacing: 0.5px;
    padding-top: 5px;
    padding-bottom: 40px;
}
.emptyTransactions a {
    background-color: rgba(6, 103, 208,1);
    color: white !important;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px;
    cursor: pointer;
   	margin: 0 auto;
   	width: 100px;
   	display: block;
    text-align: center;
    border-radius: 3px;
}

.emptyTransactions a:hover {
	text-decoration: none;
}



.allTransactions {
	height: auto;
}

.OpenTransactionsTablea {
	overflow:hidden;
	position: relative;
}
.allTransactions .currency {
	width: 100px !important;
	text-align: left !important;
}

.completeTransactionWrap {
	padding-top: 30px;
}

.smallUppercaseTitle {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;

    text-transform: uppercase;
    font-size: 12px;
    padding-top:30px;
}
.bigTitle {
	text-align: center;
	font-weight: 400;
	letter-spacing: 0.3px;
	color: rgba(6, 103, 208,1);
	font-size:35px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}
.bigTitle.red {
	color: rgb(254, 84, 97);
}
.bigTitle.gray {
	color: gray;
}
.smallUppercaseTitle.gray {
	color: gray;
}
.bigTitle.small {
	font-size: 15px;
}

.bigTitle.smalldescription {
	font-size: 11px;
	margin-top: -10px;
	padding-bottom: 25px;
	color: black;
}
.svgQRCODE {
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}

.totalTimer {	
	text-align: center;
	padding-top: 10px;
    font-size: 25px;
    font-weight: 200;
    padding-bottom:10px;

}

.totalTimerWRap {
	padding-top: 8px;
}
.status {
	text-align: right !important;
	padding-right: 20px !important;
}

.openTrans {
	text-align: right !important;
	padding-right: 20px !important;	
}
.errorTrans {
	text-align: right !important;
	padding-right: 20px !important;	
}
.completeTrans {
	text-align: right !important;
	padding-right: 20px !important;	
}


.typeTransaction.Deposit {
	color: rgb(20, 191, 6);
	width: 100px !important;
}
.typeTransaction.Withdraw {
	color: rgb(254, 84, 97);
	width: 100px !important;
}
.amount {
	width: 150px !important;
	text-align: left !important;
}

.viewallA {
    background-color: rgb(77, 138, 255);
    display: block;
    color: white !important;
    font-weight: 400;
    font-size: 11px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 3px;
}
.overlayTimerCointDown {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}



.loadingScreenSummary {
	padding-top: 50%;
	height: 540px;


}


.pShoriz .loadingScreenSummary {
	height: 200px;
	padding-top:33%;
}





.areyousureModalBgCover {
	background-color: rgb(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 12312312312123123;


}


.areyousureModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: auto;
	background-color: white;
	border-radius: 10px;
	z-index: 123123123121231231;
	text-align: center;
	padding:30px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.areyousureModal .closeScreenI {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border:2px solid rgba(255,0,0,0.5);
	margin: 0 auto;
	font-size: 30px;
	color: rgba(255,0,0,0.5);
}

.areyoursureTitle {
	font-weight: 200;
	padding-top: 10px;
	color: red;
	letter-spacing: -0.5px;
	font-size: 40px;
	padding-bottom: 10px;
	padding-top: 40px
}
.areyoursureSubtitle {
	font-size: 16px;
	font-weight: 300;
	color: black;
	width: 300px;
	margin: 0 auto;
	padding-top: 5px;
	letter-spacing: 0.5px;
	padding-bottom: 80px;
}

.areyoursureSubtitle b {
	font-weight: 900;
}

.nevermindBttn {
	padding:10px 15px;
	background-color: #f3f3f3;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 15px;
}


.nevermindBttn.confirmBttn {
	color:white !important;
	background-color: rgba(255,0,0,0.5);
	margin-right: 0px;
}

.mobileVersionShow {
	display: none;
}

.mobileWidthhundred {
	float: right;
}
.mobileWidthhundred span {
	float: left !important;
}
@media screen and (max-width: 1220px) {
	.OpenTransactionsTablea {
		width: 100% !important;
		overflow: hidden;
	}
	.transTable table {
		width: 100%;
	}
	.mobileVerisonHide {
		display: block;
	}
}




@media screen and (max-width: 1150px) {


	.PortfolioPageWrap {
		width: 30% !important;
	}
	.PortfolioSummaryWrap ,.historySummaryWRap {
		width: 70% !important;
	}
	.mobileHide {
		display: none;
	}
	
	.mywalletsWidget.porfolioTable ul li:first-child {
		padding-left: 10px !important;
		padding-right: 10px  !important;
		height: 130px !important;
		padding-top: 0px;
	}

	.mywalletsWidget.porfolioTable ul li:first-child .logoP {
		float: left;
		margin-right: 10px;

	}
	.mywalletsWidget.porfolioTable ul li:first-child .porfolioDetails {
		float: none;
		
	}

	.mywalletsWidget.porfolioTable ul li:first-child .mobileWidthhundred{
		text-align: center;
		padding-top: 20px;
	}
	.mywalletsWidget.porfolioTable ul li:first-child .mobileWidthhundred span {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	.mywalletsWidget .porfolioDetails {
		padding-left: 8px;
	}
	.bgCoverDiv {
		top:130px;
	}
	.mywalletsWidget.porfolioTable ul li:nth-of-type(2) .mobileWidthhundred span ,.mywalletsWidget.porfolioTable ul li:nth-of-type(1) .mobileWidthhundred span  {
		margin-right:5px;
	}
	.mobileVerisonHide {
		display: block;
	}
	.mobileWidthhundred {
		float: none;
	}
	.mobileWidthhundred span {
		float: none !important;
	}

}





@media screen and (max-width: 1020px) {

	.pS {
		height: auto;
	}
	.pS .legend li {
		width: 50%;
		border:0;
	}
	.indexPagePortofilo .content {
		height: auto !important;
	}

	.PortfolioPageWrap {
		width: 35% !important;
	}
	.PortfolioSummaryWrap{
		width: 65% !important;
	}
	.historySummaryWRap,.historySummaryWRap .transTable table  {
		width: 100% !important;
		padding-left: 0;
	}



	.PortfolioSummaryWrap .content {
		height: auto !important;
	}
	.PortfolioSummaryWrap .pShoriz {
		width: 100%;
	}
	.PortfolioSummaryWrap .pShoriz .legend li {
		width: 40% !important;
		border:0;
		padding-bottom: 0 !important;
	}
.mobileVerisonHide {
	display: block;
}



}




@media screen and (max-width: 980px) {

	.TokenSummaryWrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
	.TokenSummaryPorfolio .content {
		height: auto !important;
	}
	.TokenSummaryWrapper .upperTSDash {
		padding-left: 5px;
		padding-right: 5px;
	}

	.TokenSummaryWrapper .milestoneBarWrap {
		padding-left: 5px;
		padding-right: 5px;		
	}	

	.TokenSummaryWrapper .upperTSDash ul li {
		width: 33.3333% !important;
		text-align: left;
	}

	.TokenSummaryWrapper .upperTSDash ul li.pull-right {
	}
	.tobeIssued {
		display: none !important;
	}
	.TokenSummaryWrapper .lowerTSDash ul li {
		width: 40% !important;
		text-align: left;
	}
	.TokenSummaryWrapper .lowerTSDash ul li:nth-of-type(2) {
		width: 20% !important;
		text-align: left;
	}
	.TokenSummaryWrapper .lowerTSDash ul li:nth-of-type(3) {
		text-align: right;
	}


.mobileVerisonHide {
	display: block;
}
.mobileVersionShow {
	display: none;
}
}
@media screen and (max-width: 850px) {
 
	.PortfolioPageWrap {
		width: 100% !important;
	}

	.PortfolioSummaryWrap {
		width: 100% !important;
		padding-left: 0;
	}


	
	.mywalletsWidget.porfolioTable ul li:first-child, .mywalletsWidget.porfolioTable ul li:nth-of-type(2) {
		padding-left: 25px !important;
		padding-right: 25px  !important;
		height: 75px !important;
		padding-top: 0px;
	}

	.mywalletsWidget.porfolioTable ul li:first-child .logoP , .mywalletsWidget.porfolioTable ul li:nth-of-type(2) .logoP {
		float: left;
		margin-top:15px;
	}
	.mywalletsWidget.porfolioTable ul li:first-child .porfolioDetails , .mywalletsWidget.porfolioTable ul li:nth-of-type(2) .porfolioDetails  {
		float: left;
		
	}

	.mywalletsWidget.porfolioTable ul li:first-child .mobileWidthhundred{
		text-align: right;
		padding-top: 20px;
	}
	.mywalletsWidget.porfolioTable ul li:first-child .mobileWidthhundred span {
		float: none;
		margin: 0 auto;
		text-align: center;
		margin-left: 5px;
	}
	.mywalletsWidget .porfolioDetails {
		padding-left: 8px;
	}
	.bgCoverDiv {
		top:75px;
	}


	.mobileVerisonHide {
		display: none;
	}
	.mobileVersionShow {
		display: block;
		padding-left:0;



	}
	.mobileWidthhundred {

	}
	.mobileHide {
		display: block !important;
	}





 }
@media screen and (max-width: 750px) {

	.indexPagePortofilo  {
		width: 100% !important;
		padding-left: 0;
	}


	.indexPagePortofilo .pS .legend li {
		width: 25%;
		border:0;
		padding-top: 0;
	}

	.TokenSummaryPorfolio {
		width: 100% !important;
		padding-left: 0;
	}
	.TokenSummaryWrapper {
		padding-left: 20px;
		padding-right: 20px;
	}

	.TokenSummaryWrapper .upperTSDash ul li {
		width: 20% !important;
		text-align: left;
		padding-right: 0 !important;
	}

	.TokenSummaryWrapper .upperTSDash ul li.pull-right {
		width: 35% !important;
		float: right;
		margin-top: 0px;
		text-align: right;
	}
	.TokenSummaryWrapper .lowerTSDash ul li {
		width: 33.3333% !important;
		text-align: left;
		padding-right: 0 !important;
	}
	.upperTSDash ul li .subtitle {
		font-size: 14px;
	}
	.TokenSummaryWrapper .lowerTSDash ul li.pull-right {
		width: 30% !important;
		float: right;
		margin-top: 0px;
		text-align: right;

	}
	.historySummaryWRap .transTable {
		overflow: scroll;
	}
	.historySummaryWRap .transTable table  {
		width: 800px !important;
		padding-left: 0;
	}
	.mywalletsWidget.porfolioTable ul li {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	.mywalletsWidget.porfolioTable ul li:first-child, .mywalletsWidget.porfolioTable ul li:nth-of-type(2) {
		padding-left: 10px !important;
		padding-right: 10px !important;		
	}

}








@media screen and (max-width: 650px) {

	.TokenSummaryWrapper {
		padding-left: 5px;
		padding-right: 5px;
	}
	.TokenSummaryPorfolio .content {
		height: auto !important;
	}
	.TokenSummaryWrapper .upperTSDash {
		padding-left: 15px;
		padding-right: 15px;
	}

	.TokenSummaryWrapper .milestoneBarWrap {
		padding-left: 5px;
		padding-right: 5px;		
	}	

	.TokenSummaryWrapper .upperTSDash ul li {
		width: 33.3333% !important;
		text-align: left;
	}

	.TokenSummaryWrapper .upperTSDash ul li.pull-right {
	}

	.TokenSummaryWrapper .lowerTSDash ul li:nth-of-type(1) {
		width: 40% !important;
	}
	.indexPagePortofilo .pS .legend li {
		width: 33.3333%;
	}
	.indexPageWrap .dashWrapperB {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0px;
	}

	.indexPagePortofilo {
		padding-top: 10px;
	}

	.portfolioSummaryWrap {
		display: block;
		width: 200px !important;
		margin: 0 auto;
		float: none !important;
		padding-left: 0 !important;
	}
	.pShoriz .legend { 
		width: 100% !important;
		float: none !important;
	}

	.PortfolioSummaryWrap .pShoriz .legend li {
		width: 33.333% !important;
	}

	.pShoriz .protfoilioWrapper {
		float: none !important;
		width: 100%;
	}

}







@media screen and (max-width: 420px) {
.mywalletsWidget.porfolioTable ul li:first-child .mobileWidthhundred {
	padding-top: 2px;
}
.mywalletsWidget.porfolioTable ul li:first-child .mobileWidthhundred span {
	margin-top: 3px;
}
.porfolioDetails span:last-child {
	font-size: 10px;
}

}
@media screen and (max-width: 500px) {
	.indexPagePortofilo .pS .legend li {
		width: 50%;
	}
	.PortfolioSummaryWrap .pShoriz .legend li {
		width: 50% !important;
	}
}





