@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,900');


body {
	font-family: 'Open Sans' sans-serif;
	background-color: rgb(244, 247, 250);
}
p{
	margin: 0;
}

::-webkit-scrollbar {
    width: 0px !important;  /* remove scrollbar space */
    background: transparent !important;  /* optional: just make scrollbar invisible */
   -ms-overflow-style: none !important;
    overflow: -moz-scrollbars-none !important;
    display: none !important;
    height: 0 !important;


}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent !important;
}


.successWrapper {
    text-align: center;
    padding-top: 60px;
}
.sWTitle {
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 1px;
    color: #28cd6a;
    padding-top: 20px;

}
.sWTitle.error {
    color: #fc3466;
}   
.sWSubtitle {
    letter-spacing: 1px;
    color: gray;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 50px;
}
.successWrapper img {
    width: 50px;
}

.gotoDashboard {
    margin-top: 30px;
    padding: 13px 20px 12px;
    border-radius: 4px;
    background-color: #2567e5;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    border: none;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    color: white !important;
}


.modalBG {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1123123123;
}
.modalContentWrap {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    background: white;
    border-radius: 5px;
    z-index: 123123123123123;
}
.modalCloseBttn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    
}
.contentImageZoom img {
    max-height: 400px;
    margin: 0 auto;
}
.actionsList i {
    padding: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 14px;
    cursor: pointer;
}

.modalCloseBttn i {
    color: gray;
    font-size: 21px;

}
