.mainHeaderTerms {
  background-color: #1F407A;

}

.mainHeaderTerms p:nth-of-type(1){
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 180px;
  padding-bottom: 110px;
  letter-spacing: 1px;
}

.firstTitle {
	text-align: left;
	line-height: 30px;
	font-weight: bold;
	font-size: 17px;
	padding: 50px;
	padding-top: 70px;
	padding-bottom: 30px;
}

.paraTitle {
	text-align: justify;
	line-height: 30px;
	font-weight: 600;
	font-size: 15px;
	padding: 50px;
	padding-top:0px;
	padding-bottom: 0px;

}

.paraDescr {
	padding: 50px;
	padding-top:0px;
	padding-bottom:30px;
	font-size: 14px;
	text-align: left;
}

.paraDescrli {
	font-size: 14px;
	text-align: left;
	padding-right: 50px;
}

@media screen and (min-width: 1000px) {

	.row2 {
		padding-left: 10%;
		padding-right: 10%;
	}
}
@media screen and (min-width: 1200px) {

	.row2 {
		padding-left: 20%;
		padding-right: 20%;
	}
}


@media screen and (max-width: 600px) {

.firstTitle {
	padding: 30px;
}
.paraTitle {

	padding: 30px;
	padding-top:0px;
	padding-bottom: 0px;

}

.paraDescr {
	padding: 30px;
	padding-top:0px;
	padding-bottom:30px;

}
.paraDescrli {
	padding-right: 40px;
}

}